@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  font-family: 'Ubuntu', sans-serif !important;
}
.title1 {
  font-size: 35px !important;
  line-height: 1.2em !important;
  font-weight: 600!important;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important */
}
.text-yellow {
  color: rgb(240, 226, 13) !important;
}

.fl_bg4 {
    color: #000;
    border: 0px;
    background: #ed2f59;
    background: -webkit-linear-gradient(bottom, #fff,#c3e7ce);
    background: -o-linear-gradient(bottom, #fff,#c3e7ce);
    background: -moz-linear-gradient(bottom, #fff,#c3e7ce);
    background: linear-gradient(to bottom, #fff,#c3e7ce);
    background-attachment: fixed;
}

.fl_bg3 {
    color: #fff;
    border: 0px;
    background: #ed2f59;
    background: -webkit-linear-gradient(bottom, #414443,#331c60);
    background: -o-linear-gradient(bottom, #414443,#331c60);
    background: -moz-linear-gradient(bottom, #414443,#331c60);
    background: linear-gradient(to bottom, #414443,#331c60);
    background-attachment: fixed;
}
.bg_red {
  color: #fff;
  border: 0px;
  background: #ed2f59;
  background: -webkit-linear-gradient(bottom, #414443,#331c60);
  background: -o-linear-gradient(bottom, #414443,#331c60);
  background: -moz-linear-gradient(bottom, #414443,#331c60);
  background: linear-gradient(to bottom, #414443,#331c60);
  background-attachment: fixed;
}



.fl_bg1 {
    color: #000;
    border: 0px;
    background: #ed2f59;
    background: -webkit-linear-gradient(bottom, #fff,#d2f6e3);
    background: -o-linear-gradient(bottom, #fff,#d2f6e3);
    background: -moz-linear-gradient(bottom, #fff,#d2f6e3);
    background: linear-gradient(to bottom, #fff,#d2f6e3);
    background-attachment: fixed;
}
.fl_bg2 {
    color: #8fe6bd;
    border: 0px;
    background: #ed2f59;
    background: -webkit-linear-gradient(bottom, #1d9956,#1c2060);
    background: -o-linear-gradient(bottom, #1d9956,#1c2060);
    background: -moz-linear-gradient(bottom, #1d9956,#1c2060);
    background: linear-gradient(to bottom, #1d9956,#1c2060);
    background-attachment: fixed;
}

.fl_bg_gray {
    color: #000;
    border: 0px;
    background: #95ebbc;
    background: -webkit-linear-gradient(bottom, #95ebbc,#e9ddf8);
    background: -o-linear-gradient(bottom, #95ebbc,#e9ddf8);
    background: -moz-linear-gradient(bottom, #95ebbc,#e9ddf8);
    background: linear-gradient(to bottom, #95ebbc,#e9ddf8);
    background-attachment: fixed;
}

.bg_sky1 {background-color: #defee3}

.bg-red {
  background-color: #b00606!important;
}
.border-white {
  border: 2px solid #ccc !important;
}
